*.md text eol=crlf
*.sh text eol=lf
Database/mysql/conf/*.cnf text eol=lf
admin-frontend/index.html text eol=lf
admin-frontend/dist/** text eol=lf
Agent/knowledge_base/multimodal_indexes/**/manifest.json text eol=lf
