use_default_settings:
  engines:
    keep_only:
      - arxiv
      - crossref
      - openalex

server:
  # 复制本文件为 settings.yml，并用 `openssl rand -hex 32` 生成随机值替换下面的占位符
  secret_key: "ultrasecretkey"
  limiter: false
  image_proxy: true

search:
  formats:
    - html
    - json

redis:
  url: redis://valkey:6379/0

engines:
  - name: arxiv
    disabled: false
  - name: crossref
    disabled: false
    timeout: 15
  - name: openalex
    disabled: false

