use_default_settings:
  engines:
    keep_only:
      - bing
      - baidu
      - sogou
      - 360search

server:
  # 复制本文件为 settings.yml，并用 `openssl rand -hex 32` 生成随机值替换下面的占位符
  secret_key: "ultrasecretkey"
  limiter: false
  image_proxy: true

search:
  formats:
    - html
    - json

redis:
  url: redis://valkey:6379/0

engines:
  - name: bing
    disabled: false
  - name: baidu
    shortcut: bd
    disabled: false
  - name: sogou
    shortcut: sg
    disabled: false
  - name: 360search
    shortcut: 360so
    disabled: false
